body{
    background-color: rgb(231, 245, 203);
    padding: 0px;
    margin: 0px;
}
#personagem{
    position: absolute;
    top: 5px;
    left: 5px;
    height: 15px;
    width: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.estilo-default{
    border: solid 2px black;
}
.estilo1{
    background-color: yellowgreen;
    border: solid 2px rgb(84, 112, 27);
    border-radius: 3px;
}
.estilo2{
    background-color: rgb(50, 120, 205);
    border: solid 2px rgb(27, 52, 112);
    border-radius: 3px;
}
.estilo3{
    background-color: rgb(205, 50, 146);
    border: solid 2px rgb(112, 27, 72);
    border-radius: 3px;
}
.estilo4{
    background-color: rgb(192, 50, 205);
    border: solid 2px rgb(112, 27, 101);
    border-radius: 3px;
    height: 30px;
    width: 30px;
  }
p{
    margin: 0px;
}
footer{
    background-color: rgb(66, 113, 97);
    color: antiquewhite;
    width: 100%;
    height: 10%;
    position:fixed;
    bottom: 0px;
    text-align: center;
}
footer>p{
    position: relative;
    top:10px;
    font-size:30px;
}