.estilo1 {
  background-color: yellowgreen;
  border: solid 2px rgb(84, 112, 27);
  border-radius: 3px;
  height: 30px;
  width: 30px;
}
.estilo2 {
  background-color: rgb(50, 120, 205);
  border: solid 2px rgb(27, 52, 112);
  border-radius: 3px;
  height: 30px;
  width: 30px;
}
.estilo3 {
  background-color: rgb(205, 50, 146);
  border: solid 2px rgb(112, 27, 72);
  border-radius: 3px;
  height: 30px;
  width: 30px;
}
.estilo4{
  background-color: rgb(192, 50, 205);
  border: solid 2px rgb(112, 27, 101);
  border-radius: 3px;
  height: 30px;
  width: 30px;
}
.opcao {
  width: 100px;
  display: inline-block;
  margin-top: 10px;
  margin: 20px;
  border: solid 1.5px rgb(70, 98, 110) ;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgb(94, 155, 166);
  color: aliceblue;
  font-family: Geneva, Tahoma, sans-serif;
  cursor: pointer;
}
.opcao1{
  width: 100px;
  display: inline-block;
  margin-top: 10px;
  margin: 20px;
  border: solid 1.5px rgb(70, 98, 110) ;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  padding-bottom: 20px;
  background-color: rgb(94, 155, 166);
  color: aliceblue;
  font-family: Geneva, Tahoma, sans-serif;
  cursor: pointer;
}
input{
  width: 15%;
  border: solid 2px rgb(70, 110, 70) ;
  border-radius: 3px;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px;
}
.selecionado {
  border: 2px solid rgb(78, 104, 40);
  background-color: rgb(108, 191, 119);
}
p{
  margin-bottom: 10px;
  margin-top: 5px;
}
.estilo{
  margin: auto;
}

.invisivel {
  display: none;
}
body{
  background-color: rgb(231, 245, 203);
  text-align: center;    
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button{
  cursor: pointer;
  display: inline-block;
  margin: auto;
  margin-bottom: 10px;
  width: 10%;
  padding: 15px;
  border-radius: 5px;
  border: solid 1.5px rgb(70, 110, 70) ;
  background-color: rgb(115, 158, 115);
  color: aliceblue;
  font-weight: bold;
  font-size: 15px;
  font-family:  Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button:hover{
  border: solid 1.5px rgb(47, 73, 47) ;
  background-color: rgb(85, 123, 85);
  color: rgb(216, 223, 230);
}
h1{
  margin-bottom: 10px;
  font-size: 30px;
  color: rgb(50, 66, 50);
}
.por-cima{
  border: solid 1.5px rgb(47, 73, 47) ;
  background-color: rgb(85, 123, 85);
  color: rgb(216, 223, 230);
}
