body{
    background-color: rgb(231, 245, 203);
    text-align: center;    
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button{
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 15%;
    padding: 15px;
    border-radius: 5px;
    border: solid 1.5px rgb(70, 110, 70) ;
    background-color: rgb(115, 158, 115);
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    font-family:  Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    margin-bottom: 40px;
    font-size: 70px;
    color: rgb(50, 66, 50);
}
.button:hover{
    border: solid 1.5px rgb(47, 73, 47) ;
    background-color: rgb(85, 123, 85);
    color: rgb(216, 223, 230);
}
