.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(229, 236, 243);
    width: 270px;
    padding: 5px 15px;
    border-radius: 5px;
    border: solid rgb(144, 149, 154)
}
.p{
    user-select: none;
    cursor: pointer;
}
.completa{
    user-select: none;
    cursor: pointer;
    text-decoration: line-through;
}
.buttons{
    display: flex;
    gap: 5px;
    position: relative;
    left :10px
}
.editar,.remover{
    padding: 5px 10px;
    border-radius: 5px;
    color: aliceblue;
}
.editar{
    background-color: rgb(255, 174, 0);
    border: solid rgb(241, 241, 146);

}
.remover{
    background-color: rgb(228, 16, 16);
    border: solid rgb(244, 114, 114);

}