body {
  font-family: "Geneva", Verdana, sans-serif;
  color: rgb(101, 46, 3);
  background-color: rgb(249, 217, 207);
}
.btn {
  font-family: "Geneva", Verdana, sans-serif;
  font-size: 1em;
  background-color: rgb(86, 113, 90);
  width: fit-content;
  padding: 0.4rem 0.6rem;
  color: rgb(255, 235, 210);
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  margin: 0.2rem;
  user-select: none;
}
.img {
  width: 9rem;
  border-radius: 1rem;
  margin: 0.4rem;
}
input {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
label {
  font-weight: bold;
  font-size: larger;
}

#lista-tarefas {
  width: fit-content;
  padding: 0.3rem 1.8rem;
  border-radius: 0.5rem;
}
.tarefas-style {
  color: antiquewhite;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
  user-select: none;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
}
.concluida {
  text-decoration: line-through;
}
#bloco-imagens,
#bloco-tarefas {
  background-color: rgb(79, 122, 111);
  width: fit-content;
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
  margin-top: 0.5rem;
}
#titulo-div-img,
#titulo-div-tarefas {
  color: antiquewhite;
  font-size: 1.5em;
  text-align: center;
}
.x-invisivel {
  width: 15px;
  margin-left: 10px;
  display: none;
}
.x-aparecer {
  display: inline-block;
}
