.fundo{
    display: flex;
    margin: auto;
    background-color: #000;
    width: 80%;
    height: 430px;
    margin-bottom: 50px;
}
.esquerda{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    height: 100%;
    padding-top: 50px;
    padding-left: 50px;
    box-sizing: border-box;
}
.titulo>h1{
    font-weight: 500;
    font-size: 40px;
    color: #fff;
    line-height: 1.2;
    
}
.categoria>p{
    font-weight:500;
    color: #00FF66;

}
.direita{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.direita>img{
    width: 100%;
}
.containerBolinhas{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.bolinha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 8px;
    width: 11%;
    height: 40px;
    border-radius: 100%;

}
.bolinha>p:nth-child(1){
   font-weight: 700;
}
.bolinha>p:nth-child(2){
    font-size: 10px;
}
.botao{
    width: 40%;
    height: 50px;
    border-radius: 2px;
    border: none;
    color: #fff;
    background-color: #00FF66;
}