.container{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 82%;
    justify-content: space-between;
    align-items: center;
}
.bola {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 30px;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 100%;
    position: relative;
    top: -75px;
    left: 1000px;
  }