.container {
  display: flex;
  flex-direction: row;
  gap: 60px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: last baseline;
}

.botao {
  width: 11%;
  height: 45px;
  border: none;
  background-color: #db4444;
  color: #fff;
  border-radius: 3px;
  position: relative;
  top: -80px;
  left: 990px;
}
.bola {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 20%;
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 100%;
}
.containerSetas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 8%;
  padding: 10px;
  position: relative;
  top: -75px;
  left: 1000px;
}
.container > h1 {
  font-size: 35px;
  font-weight: 600;
}
.cronometro {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.cronometro > h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.cronometro > h1 > p {
  font-weight: 400;
  width: 10px;
  font-size: 12px;
  text-align: center;
}
.pontos {
  align-self: last baseline;
  color: #e07575;
}
